<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">We will take care of any bug - maybe</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="https://github.com/manly-man/moodle-destroyer-tools/issues/new" class="btn btn-xl" role="button">Submit an issue</a>
            </div>
        </div>
    </div>
</section>
